---
import BaseHead from '../components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Home from '../components/05-pages/Home.astro'
import BaseHTML from '@/components/01-atoms/BaseHTML.astro'
import Footer from '@/components/Footer.astro'
---

<BaseHTML>
  <head>
    <BaseHead />
  </head>
  <body class='bg-surface'>
    <Header />
    <Home />
    <div id='footer'>
      <Footer
        hasPadding={false}
        withCopyright={false}
        withPrimaryIconColor={true}
      />
    </div>
  </body>
</BaseHTML>

<style lang='scss'>
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
  }
</style>
