---
import BaseHead from "../components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Home from "../components/05-pages/Home.astro";
import BaseHTML from "@/components/01-atoms/BaseHTML.astro";
import Footer from "@/components/Footer.astro";
---
<BaseHTML>
  <head>
    <BaseHead />
  </head>
  <body class="bg-base-100">
    <Header />
    <Home />
    <div class="navbar fixed bottom-0">
      <div class="navbar-start" />
      <div class="navbar-center">
        <Footer hasPadding={false} withCopyright={false} withPrimaryIconColor={true} />
      </div>
      <div class="navbar-end" />
    </div>
  </body>
  </html>
</BaseHTML>
