---
// import { ArticleContent } from "@/components/01-atoms/ArticleContent";
import BaseHTML from '@/components/01-atoms/BaseHTML.astro'
import BigSection from '@/components/02-molecules/texts/BigSection.astro'
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
---

<BaseHTML>
  <head>
    <BaseHead title='Achmad Kurnianto - Uses' />
  </head>
  <body>
    <Header />
    <main class='container mx-auto mt-20'>
      <BigSection
        title='Uses'
        description={`Here's a list of the hardware and software I've used throughout my work experiences.`}
        viewTransitionName='my-uses'
      />
      <div
        class='mx-4 lg:flex lg:flex-col lg:items-center lg:w-3/5 lg:mx-auto grid gap-y-8'
      >
        <section>
          <h1
            class='text-3xl lg:text-7xl text-primary text-left font-bold mb-4'
          >
            Hardwares
          </h1>
          <ul>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                class='link link-primary no-underline hover:underline'
                href='https://www.axiooworld.com/mybook-z-series'
                target='_blank'
                rel='noopener noreferrer'>Notebook Axioo Z10 Metal.</a
              >
              <p class='font-normal text-base'>
                You can get the latest Intel processor (at that time) at a more
                affordable price, according to several reviewers. It's great for
                developers!
              </p>
              <ul class='font-normal list-disc ml-8'>
                <li class='text-base'>
                  Processor Intel i5 12th Generation.
                  <p>
                    Too fast for someone like me who used to have a notebook
                    with an Intel i3 2nd generation processor.
                  </p>
                </li>
                <li class='text-base'>
                  RAM 16GB DDR4 3200 Mhz.
                  <p>Upgradable to 64GB.</p>
                </li>
                <li class='text-base'>
                  Storage 512GB NVMe PCI-E Gen 3.
                  <p>Upgradable to 2TB NVMe PCI-E Gen 4.</p>
                </li>
              </ul>
            </li>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://www.benq.com/en-us/monitor/home/gw2280.html'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>External Monitor BenQ GW2280</a
              >
              <p class='font-normal text-base'>
                Affordable external monitor with a low blue light feature.
              </p>
            </li>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://leapfroglobal.com/amg/Armaggeddon-atom-7/armaggeddon-gaming-audio-2.1-for-PC'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>Headset Armageddon Atom 7</a
              >
              <p class='font-normal text-base'>
                Convenient headset just like a gamer's.
              </p>
            </li>
          </ul>
        </section>
        <section class='text-left w-full'>
          <h1 class='text-3xl lg:text-7xl text-primary font-bold mb-4'>
            Softwares
          </h1>
          <ol>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://code.visualstudio.com/'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>Visual Studio Code</a
              >
              <p class='font-normal text-base'>
                Best lightweight IDE ever (for this time). It's great to develop
                apps!
              </p>
            </li>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://developer.android.com/studio'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>Android Studio</a
              >
              <p class='font-normal text-base'>
                Good IDE for develop android and kotlin multiplatform app.
              </p>
            </li>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://www.youtube.com/premium'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>YouTube Premium</a
              >
              <p class='font-normal text-base'>
                No ads while watching videos. Able to play video when phone is
                locked.
              </p>
            </li>
            <li class='font-bold text-xl mb-2 lg:mb-8'>
              <a
                href='https://notesnook.com/'
                class='link link-primary no-underline hover:underline'
                target='_blank'
                rel='noopener noreferrer'>Notesnook</a
              >
              <p class='font-normal text-base'>
                Notion-like with privacy and security first class support.
              </p>
            </li>
            <!-- <li class='font-bold text-xl mb-2 lg:mb-8'>
              Surfshark VPN
              <p class='font-normal text-base'>
                Convenient headset just like a gamer's.
              </p>
            </li> -->
          </ol>
        </section>
      </div>
    </main>
    <Footer />
  </body>
</BaseHTML>
