---
const initialYearCreated = 2023
const today = new Date()

const websiteCreated =
  initialYearCreated === today.getFullYear()
    ? `${initialYearCreated}`
    : `${initialYearCreated} - ${today.getFullYear()}`

interface Props {
  hasPadding?: boolean
  withCopyright?: boolean
  withPrimaryIconColor?: boolean
}

const {
  hasPadding = true,
  withCopyright = true,
  withPrimaryIconColor = false
} = Astro.props
---

<footer class:list={[{ 'has-padding': hasPadding }]}>
  {
    withCopyright && (
      <span>{`@ ${websiteCreated} Achmad Kurnianto. All rights reserved.`}</span>
    )
  }
  <div class='social-links'>
    <a
      href='mailto://me@achmadk.com'
      class='btn btn-ghost btn-circle p-2'
      target='_blank'
      rel='noopener'
    >
      <span class='sr-only'>Send email to Achmad Kurnianto</span>
      > -->
      <svg
        width='134'
        height='102'
        viewBox='0 0 134 102'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          class:list={[{ 'text-primary': withPrimaryIconColor }]}
          fill-rule='evenodd'
          clip-rule='evenodd'
          d='M111.5 3.8L103 10.1L66.7 37.4L30.3 10.1L21.8 3.7C12.8 -3 0 3.4 0 14.7V26.8V92C0 97 4.1 101.1 9.1 101.1H30.3V49.5L66.7 76.8L103 49.5V101H124.2C129.2 101 133.3 96.9 133.3 91.9V26.8V14.7C133.3 3.4 120.5 -3 111.5 3.8Z'
          fill='black'></path>
      </svg>
    </a>
    <a
      href='https://github.com/achmadk'
      class='btn btn-ghost btn-circle p-2'
      target='_blank'
      rel='noopener'
    >
      <span class='sr-only'>Go to Achmad Kurnianto's GitHub Profile</span>
      <svg
        viewBox='0 0 16 16'
        aria-hidden='true'
        width='32'
        height='32'
        astro-icon='social/github'
        ><path
          class:list={[{ 'text-primary': withPrimaryIconColor }]}
          d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'
        ></path></svg
      >
    </a>
  </div>
</footer>
<style>
  footer {
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  footer.has-padding {
    padding: 2rem 1rem 5rem 1rem;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }

  svg path {
    fill: currentColor;
  }
</style>
