---
import { ArticleContent } from "@/components/01-atoms/ArticleContent";
import BaseHTML from "@/components/01-atoms/BaseHTML.astro";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import { loadBlogBySlugData, loadBlogsData } from "@/controllers";

export async function getStaticPaths() {
  const { posts } = await loadBlogsData()
  return posts.map(({ slug }) => ({
    params: { slug },
  }));
}

const { slug } = Astro.params;

const response = await loadBlogBySlugData({ slug })

console.log(response)

const { post } = response

const fallbackImgURL = 'https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg'

---
<BaseHTML>
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    {post !== null ? (
      <div class="hero bg-fixed" transition:name={`article-hero-${post.id}`} style={`background-image: url(${post.coverImage?.url ?? fallbackImgURL});`}>
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content mt-20">
          <div class="max-w-3xl">
            <h1 class="my-20 text-5xl font-bold text-primary" transition:name={`article-title-${post.id}`}>{post.title}</h1>
            <article class="bg-base-100 p-8 rounded-xl shadow">
              <ArticleContent content={post.content?.markdown ?? null} />
            </article>
          </div>
        </div>
      </div>
    ): null}
  </body>
</BaseHTML>
